body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.section {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  background-color: #3498db;
  color: #fff;
  /* text-align: center; */
  transition: background-color 0.3s;
}

#section1 {
  flex: 0.1;
}
#section2 {
  flex: 0.7;
}#section3 {
  flex: 0.2;
}


.section:nth-child(even) {
  background-color: #2ecc71;
}

.section:hover {
  background-color: #e74c3c;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin: 0;
}
