<div class="dashboard-container">
  <h1>Hello {{ userName }}!</h1>

  <div class="appointment-info">
    <p>Your next appointment is on:</p>
    <p></p>
  </div>

  <div class="business-requirements">
    <div class="row">
      <div (click)="navigateToNewPage()" class="requirement red-rectangle bigger-width">
        <h3>Create Booking</h3>
      </div>
      <div class="requirement orange-square bigger-width">
        <h3>Manage Insurance</h3>
      </div>
    </div>
    <div class="row">
      <div class="requirement orange-square bigger-width">
        <h3>Fill Questionnaires</h3>
      </div>
      <div class="requirement red-rectangle bigger-width">
        <h3>Emergency</h3>
      </div>
    </div>
  </div>
</div>
